.firkant, .sirkel{
  width: 100px;
  height: 100px;
  margin: 10px;
  animation: vis 2s alternate linear;
}
.firkant{
  background-color: blue;
  animation-iteration-count: 5;
}

.sirkel{
  background-color: red;
  border-radius: 50%;
  animation-iteration-count: 3;
  animation-play-state: paused;
}

@keyframes vis {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
