img{
  width: 50px;
  height: 50px;
  animation: sprett 2s forwards;
  animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  position: absolute;
}

@keyframes sprett {
  0% {top:0; left: 0;}
  50% {top:500px; left:200px;}
  100% {top:0; left:400px;}
}
