@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  display: flex;
  font-family: Roboto;
}
div{
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: 300px;
  border: 2px solid black;
}
