input[type="text"],
input[type="number"]{
  display: block;
  margin: 2px;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: inherit;
  color: #666666;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7); */
  box-sizing: border-box;
}

input[type="text"]{
  width: 200px;
}

input[type="number"]{
  width: 130px;
}
