@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  background-color: #c0c0c0;
  font-size: 20px;
  font-family: "Roboto", Arial, seriff;
}
div{
  width: 60%;
  border: 3px solid black;
  margin: 10px auto;
  padding: 15px;
  min-height: 40px;
}

.velgAntallTall{
  background-color: red;
}

.trekkTall{
  background-color: lightblue;
}

.sjekkeKupong{
  background-color: yellow;
}

.resultat{
  background-color: lightgreen;
}

.tallTrukket{
  background-color: pink;
}
